{% extends 'base.html' %}
<div class="container ">

  {% block content %}

              <div class="row">
                <p class=" col-lg-4 text-center lead">Total Cases: <b class="font-weight-bolder text-info lead">{{totalCases}}</b></p>
                <p class="col-lg-4 lead  text-center">Total Recovered: <b class="font-weight-bolder text-success lead">{{totalRecovered}}</b></p>
                <p class="col-lg-4  lead text-center">Total Deaths: <b class="font-weight-bolder text-danger lead">{{totalDeaths}}</b></p>
              </div>
              <table class="table table-bordered text-center ">
                <thead>
                  <tr>
                    <th scope="col"class="text-info">Location</th>
                    <th scope="col" class="text-info">Confirmed Cases</th>
                    <th scope="col"class="text-success">Recovered</th>
                    <th scope="col" class="text-danger">Deaths</th>
                    <th scope="col" class="text-info">Emergency Number</th>
                  </tr>
                </thead>
              {% for z in xlist %}
                  <tbody>
                    <tr>

                      <td>{{z.loc}}</td>
                      <td>{{z.ccf}}</td>
                      <td>{{z.dis}}</td>
                      <td>{{z.deaths}}</td>
                      <td>{{z.number}}</td>
                    </tr>
                  </tbody>
              {% endfor %}
              </table>
    {% endblock %}


</div>
