{% extends 'base.html' %}
    {% block content %}
        <div class="container">
          <strong style="font-size:24px;font-style:sans-serif;">COVID_19 status Live</strong>
              {% for z in xlist %}
                <ul style="padding-top:40px">
                  <div  style="background-color:#2B2B52;color:white;width:25rem;padding:30px">
                      <strong class="card-title">Location : {{z.loc}}</strong>
                      <ul style="padding:30px;">
                        <p class="card-subtitle mb-2 text-muted" style="color:grey">Confirmed Cases India : {{z.cci}}</p>
                        <p class="card-subtitle mb-2 text-muted" style="color:grey">Confirmed Cases Foriegn : {{z.ccf}}</p>
                        <p class="card-subtitle mb-2 text-muted" style="color:grey">Discharged : {{z.dis}}</p>
                        <p class="card-subtitle mb-2 text-muted" style="color:grey">Deaths : {{z.deaths}}</p>
                      </ul>
                  </div>
                </ul>
              {% endfor %}
       </div>
    {% endblock %}
